*{
    margin: 0%;
    padding: 0%;
    
}
.upper-nav{
    background-color: gray;
    display: flex;
justify-content: space-around;
    padding: 0.7%;
align-items: center;
}
.navbar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbar .logo{
height: 35px;

}
.nav-list{
    list-style-type: none;
    font-size: 15px;
}
.nav-list .list-item{
    display:inline-block;
    padding: 20px;

}
.navbar a{
    text-decoration: none;
}
.navbar .list-item:hover{
    color: gray;
}
.nav-list ul{
    position: absolute;
    text-align: center;
    background: chocolate;
    display: block;
    width: 200px;

}

/*header {
    background-color:white;
}

footer {
    background-color:white;
}*/

body {
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  background-color:rgb(240,240,240);
  text-align: center;
  font-family: helvetica;
  padding-top: 20px;
  padding-bottom: 20px;
}

#title {color:#34568B;}

img {
  border-radius:50%;
  width:200px;
  max-width: 70%;
  max-height: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 5%;
}





#img-div{
  background-color:white;
  border-radius: 10px;
  padding: 1em 5em;

}


.lista {
  background-color: #34568B;
  color:white;
  border-radius: 10px;
  text-align: left;
  padding: 5% 10%;
}
  
  
  a:link, a:visited {
    color: rgb(120,180,80);
  }
  
  a:hover, a:active {
    font-weight: bold;
}
  
  
