*{
    margin: 0%;
    padding: 0%;
    
}

.upper-nav{
    background-color: #00bfff;
    display: flex;
justify-content: center;
    padding-top: 0.7%;
    padding-bottom: 0.2%;
align-items: center;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}
.navbar{
    background-color: #0e0e0e;
    color: #00bfff;
    display: flex;
    justify-content: center;
    padding-top: 0.4%;
    padding-bottom: 0.1%;
    align-items: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom:19px;
}
.navbar .logo{
height: 3px;

}
.nav-list{
    list-style-type: none;
    font-size: 15px;
}
.nav-list .list-item{
    display:inline-block;
    padding: 15px;

}
.navbar a{
    text-decoration: none;
}
.navbar .list-item:hover{
    color: gray;
}
.nav-list ul{
    position: absolute;
    text-align: center;
    background: #0e0e0e;
    display: block;
    width: 200px;
}

body {
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  background-image: url("https://raw.githubusercontent.com/github-nerd/linkpage/main/imagevideoaudio/darkpixels.png?token=AUHPERXSQZAGLCDZGIOSFNLAYOU34");
  text-align: center;
  color: #0e0e0e;
  font-family: 'Libre Baskerville', serif;
  padding-top: 19px;
  padding-bottom: 14px;
}

#title {color:#0e0e0e;}

img {
  border-radius:100%;
  width:200px;
  height:200px;
  max-width: 70%;
  max-height: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 5%;
}

#img-div{
  background-color: #00bfff;
  border-radius: 10px;
  padding: 1em 5em;

}

.lista {
  background-color: #00bfff;
  color: #0e0e0e;
  border-radius: 10px;
  text-align: center;
  padding: 7% 10%;
}
  
  a:link, a:visited {
    color: grey;
  }
  
  a:hover, a:active {
    font-weight: bold;
}
